@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap');

@font-face {
  font-family: Whyte;
  src: url(../fonts/Whyte-Bold.woff2) format("woff2"), url(../fonts/Whyte-Regular.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Whyte Regular;
  src: url(../fonts/Whyte-Regular.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}

body, html {
    margin: 0px;
    font-family: 'Whyte Regular', sans-serif;
    letter-spacing: 0.01em;
    /*background-color: rgb(255 202 0);   //Figma yellow */
    background-color: #fff;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
}

label {
    padding: 10px;
}

.top__heading {
    font-family: 'Whyte', sans-serif;
    font-size: 20px;
    width: 50%;
    display: block;
}

h1 {
    font-size: 74px;
    font-family: 'Whyte', sans-serif;
    letter-spacing: 0.01em;
    font-weight: 700;
    line-height: 66px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header {
    display: grid;
    /*grid-template-columns: 1fr;*/
    width: 50%;
    grid-gap: 32px;
    margin-bottom: 80px;
}

.top__image {
    margin-top: 20px;
    margin-bottom: 150px;
    background-image: url(../../assets/img/code.svg);
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.footer {
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; 
}

.wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    align-content: center;
}

#container p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.fizbuz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(108 22 255);
    background-color: rgb(212 186 255);
}

.fiz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(108 22 255);
    background-color: rgb(212 186 255);
}

.buz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(108 22 255);
    background-color: rgb(212 186 255);
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(108 22 255);
    background-color: rgb(212 186 255);
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid rgb(108 22 255);
    background-color: rgb(212 186 255);
    padding: 40px 0px 40px 0px;
}

input {
    font-size: 20px;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 3px solid rgb(108 22 255);
    text-align: center;
    position: relative;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.inner__input {
    /*padding: 10px;*/
    /*display: block;*/
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    color: #fff;
    font-family: "Whyte";
    display: inline-block;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 300;
    text-rendering: auto;
    width: 150px;
    border: 0;
    margin: 15px;
    cursor: pointer;
}

#btn__refresh {
    background-color: #000;
    color: white;
    transition: 0.5s;
    margin-left: 20px;
}

#btn__clear {
    background-color: black; 
    color: white;
    transition: 0.5s;
}

#btn__fizz {
    background-color: rgb(108 22 255); 
    color: #fff;
    transition: 100ms;
}

#btn__fizz:hover {
    background-color: #4b00cc;
    transition: 100ms;
    top: 2px; 
    color: #fff;
}

#btn__buzz {
    background-color: rgb(108 22 255);
    color: #fff;
}

#btn__fizzbuzz {
    background-color: rgb(108 22 255);
    color: #fff;
}

.hidden {
    display: none;

}

@media (max-width: 728px) {

    #container {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }

    .navbar {
        width: 100%;
        /*min-height: 400px;*/
        /*flex-wrap: wrap;*/
        /*flex-direction: column;*/
    }
}

@media (max-width: 520px) {

    .header {
        width: 100%;
    }

    h1 {
        /*width: 100%;*/
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }

    #container {
        grid-template-columns: repeat(2, 1fr);
    }