@font-face {
  font-family: Whyte;
  src: url(../fonts/Whyte-Bold.woff2) format("woff2"), url(../fonts/Whyte-Regular.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Whyte Regular;
  src: url(../fonts/Whyte-Regular.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}

body, html {
    margin: 0px;
    font-family: 'Whyte Regular', sans-serif;
    letter-spacing: 0.01em;
    /*background-color: rgb(255 202 0);   //Figma yellow */
    background-color: #fff;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
}

.wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: grid;
    width: 50%;
    grid-gap: 32px;
    margin-bottom: 60px;
}

.top__image {
    margin-top: 20px;
    margin-bottom: 150px;
    background-image: url(../../assets/img/code.svg);
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
}

h1 {
    font-size: 74px;
    font-family: 'Whyte', sans-serif;
    letter-spacing: 0.01em;
    font-weight: 700;
    line-height: 66px;
    margin-top: 0px;
    margin-bottom: 0px;
}

label {
    padding: 10px;
    text-align: left;
}

.button__block {
    text-align: center;
    width: 100%;
}

.footer {
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; 
}

#elements {
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    align-content: center;
}

#elements p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.fizzBuzz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(108, 22, 255);
    background-color: rgb(108, 22, 255);
}

.fizz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(108, 22, 255);
    background-color: rgb(108, 22, 255);
}

.buzz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(108, 22, 255);
    background-color: rgb(108, 22, 255);
    /*background-color: rgb(212, 186, 255);*/
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(108, 22, 255);
    background-color: rgb(212, 186, 255);
}

.navbar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 16px;
    border-radius: 8px;
    border: 3px solid rgb(108, 22, 255);
    background-color: rgb(212, 186, 255);
    padding: 40px 0px 40px 0px;
}

input {
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 3px solid rgb(108, 22, 255);
    text-align: center;
    position: relative;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

button {
    color: #fff;
    font-family: "Whyte";
    display: inline-block;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 300;
    width: auto;
    border: 0;
    margin: 15px;
    cursor: pointer;
}

#generate, #generate2 {
    background-color: #000;
    color: #fff;
}

#clear {
    background-color: #000; 
    color: #fff;
}

@media (max-width: 900px) {
    
    .top__image{
        margin-bottom: 100px;
    }

    .header {
        width: 100%;
    }

    #elements {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }

    h1 {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        display: inline-block;
    }

    .navbar {
        width: 100%;
    }
}

@media (max-width: 520px) {

    .top__image{
        margin-bottom: 100px;
    }

    .header {
        width: 100%;
    }

    h1 {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        display: inline-block;
    }

    #elements {
        grid-template-columns: repeat(2, 1fr);
    }
}